<h2>Editing this post!</h2>

<%= form_for @post, url: {action: "update"} do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
    <%= f.submit "Update This Post" %>
<% end %>
